.header {
    position: relative;

    &__img {
        width: 100%;
    }

    &__inputGroup {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__scroll {
        position: absolute;
        bottom: 10px;
        left: calc(50% - 16px);
        background-color: transparent;
        outline: none;
        border: none;
        animation: bounce 3s infinite;

        &:hover {
            cursor: pointer;
        }
    }

    &__arrow {
        width: 20px;
        height: 20px;
        background-color: none;
        transform: rotate(90deg);
        transition: .2s ease;


    }
    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
            transform: translateY(0);
          }
          40% {
            transform: translateY(-10px);
          }
          60% {
            transform: translateY(-5px);
          }
    }
}