.receipe {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0;

    @media (min-width: 576px) {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        border: 1px solid rgba(156, 156, 156, 0.521);
        border-radius: 15px;
        width: 80%;
        margin: 20px 0;
        transition: .5s box-shadow ease;
        
        &:hover {
            cursor: pointer;
            box-shadow: 0px 30px 30px -5px rgba(0,0,0,0.29);
        }
        
        @media (min-width: 576px) {
            width: 50%;
        }

        @media (min-width: 992px) {
            width: 30%;
        }

        &.active {
            position: fixed;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 100;
            height: 90%;
            overflow: auto;
            background-color: white;
            display: block;
        }

        &.disable {
            display: none;
        }
    }

    &__ingridients {
        display: none;

        &.active {
            display: block;
        }
    }
    &__canvas {
        text-align: center;
    }

    &__img {
        width: 100%;
    }

    &__preview {
        overflow: hidden;
    }

    &__table {
        border: 1px solid #eee;
        text-align: center;
        width: 100%;
    }

    &__row {
        border: 1px solid #eee;
    }
}