.btn {
    background-color: #eee;
    border: none;
    border-radius: 5px;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;

    &:hover {
        background-color: white;
        box-shadow: 0px 22px 26px -9px rgba(0,0,0,0.29);
    }

    &--close {
        background-color: rgb(180, 86, 86);
        color: white;
        
        &:hover {
            background-color: rgb(138, 36, 36);
        }
    }

    &--black {
        background-color: rgb(58, 58, 58);
        color: white;

        &:hover {
            background-color: rgb(0, 0, 0);
        }
    }

    &--red {
        background-color: rgb(168, 69, 69);
        color: white;

        &:hover {
            background-color: rgb(110, 33, 33);
        }
    }

    &--green {
        background-color: rgb(27, 150, 33);
        color: white;

        &:hover {
            background-color: rgb(19, 94, 25);
        }
    }

    &--blue {
        background-color: rgb(70, 85, 165);
        color: white;

        &:hover {
            background-color: rgb(29, 37, 112);
        }
    }
}